.div_card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px 2px rgba(155, 27, 47);
    border: 2px solid rgb(155, 27, 47);
    background-color: rgb(255, 240, 240);
}

.button {
    max-width: 395px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgb(155, 27, 47);
    border: none;
    transition: ease 0.75s;
}

.button:hover {
    background-color: black;
}

.img {
    max-width: 200px;
}